<h1>Manufacturer</h1>

<div>
  <% @manufacturers.each do |manufacturer| %>
    Manufacturer: <%= manufacturer.manufacturer %><br>
    Manufacturer Country: <%= manufacturer.country %>
  <% end %>
</div>
