<h1>Home Manufacturer</h1>


<div>
  <% @manufacturers.each do |manufacturer| %>
    Manufacturer: <%= manufacturer.name %><br>
    Manufacturer Country: <%= manufacturer.country %>
  <% end %><hr>
</div>
